# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__-docker@.service
# Version:      1.0
# Authors:      whoy@ukaachen.de
# Date:         02 Okt 26
# Purpose:      Service unit for Docker update execution
# ----------------------------------------------

[Unit]
Description=AKTIN Docker Update Service
After=network.target

[Service]
# no "Restart=", one instance per connection, connection already gone when retry initiates
ExecStart=__PACKAGE_NAME__-docker
SyslogIdentifier=__PACKAGE_NAME__
