# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__-docker-info@.service
# Version:      1.0
# Authors:      whoy@ukaachen.de
# Date:         07 Apr 26
# Purpose:      Service unit for Docker update info checks
# ----------------------------------------------

[Unit]
Description=AKTIN Docker Update Info Service
After=network.target

StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
ExecStart=__PACKAGE_NAME__-docker-info
SyslogIdentifier=__PACKAGE_NAME__
Restart=on-failure
