# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__-docker-info.socket
# Version:      1.0
# Authors:      skurka@ukaachen.de, akombeiz@ukaachen.de
# Date:         07 Apr 26
# Purpose:      Socket activation unit for Docker update info service
# ----------------------------------------------

[Unit]
Description=AKTIN Docker Update Info Socket

[Socket]
ListenStream=127.0.0.1:1004
Accept=Yes
SocketUser=wildfly
SocketGroup=wildfly
StandardOutput=socket

[Install]
WantedBy=sockets.target
