# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__.socket
# Version:      1.0
# Authors:      skurka@ukaachen.de, akombeiz@ukaachen.de
# Date:         14 Nov 24
# Purpose:      Socket activation unit for AKTIN update service
# ----------------------------------------------

[Unit]
Description=AKTIN Update Socket

[Socket]
ListenStream=127.0.0.1:1003
Accept=Yes
SocketUser=wildfly
SocketGroup=wildfly
StandardOutput=socket

[Install]
WantedBy=sockets.target
