# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__-docker.socket
# Version:      1.0
# Authors:      skurka@ukaachen.de, akombeiz@ukaachen.de
# Date:         07 Apr 26
# Purpose:      Socket activation unit for Docker update service
# ----------------------------------------------

[Unit]
Description=AKTIN Docker Update Socket

[Socket]
ListenStream=0.0.0.0:1005
Accept=Yes
SocketUser=wildfly
SocketGroup=wildfly
StandardOutput=socket

[Install]
WantedBy=sockets.target
