[Unit]
Description=AKTIN Update Info Socket

[Socket]
ListenStream=127.0.0.1:1002
Accept=Yes
SocketUser=wildfly
SocketGroup=wildfly
StandardOutput=socket

[Install]
WantedBy=sockets.target

