[Unit]
Description=AKTIN Update Socket

[Socket]
ListenStream=1003
Accept=Yes
SocketUser=wildfly
SocketGroup=wildfly

[Install]
WantedBy=sockets.target

