# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__@.service
# Version:      2.0
# Authors:      skurka@ukaachen.de, akombeiz@ukaachen.de, whoy@ukaachen.de
# Date:         13 Aug 26
# Purpose:      Service unit for exexuting debian data warehouse updates
# ----------------------------------------------

[Unit]
Description=AKTIN Update Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
ExecStart=__PACKAGE_NAME__
SyslogIdentifier=__PACKAGE_NAME__
# Restart on failure but not too frequently
Restart=on-failure

[Install]
WantedBy=multi-user.target
