# ----------------------------------------------
# Unit Name:    __PACKAGE_NAME__.socket
# Version:      2.0
# Authors:      skurka@ukaachen.de, akombeiz@ukaachen.de, whoy@ukaachen.de
# Date:         13 Aug 26
# Purpose:      Socket activation unit for AKTIN update service
# ----------------------------------------------

[Unit]
Description=AKTIN Update Socket

[Socket]
ListenStream=__BIND_ADDR_LOCAL__:__PORT_UPDATE__
Accept=Yes

[Install]
WantedBy=sockets.target
